{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "block-opening-brace-space-before": null,
    "comment-whitespace-inside": null
  }
}