{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": false
      }
    ],
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react"
  ]
}
